
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      

.intro{ margin-bottom:2%; }
.intro h5{ margin:0; color: white; padding:2% 0;}

.collection-header h4{ color: #1b5e20; }

.parallax-container h1, .parallax-container h2{ font-weight: bolder; text-transform: uppercase;  }